*.DS_Store
*.php~
*.sublime-project
*.sublime-workspace
._*
.dockerignore
.editorconfig
.git/
.gitignore
.gitmodules
.travis.yml
api-plaform/app/config/parameters.yml
api-plaform/bin/
composer.phar
docker-compose.override.yml
docker-compose.yml
Dockerfile
Thumbs.db
README.md
api-plaform/var/
api-plaform/vendor/
api-plaform/web/app_dev.php
api-plaform/web/config.php
api-plaform/web/bundles/

!api-plaform/bin/console
